.nav-container {
  background-color: #282c34;
  display: flex; 
  justify-content: space-between;
}
.nav-left, .nav-right {
  display: flex;
  justify-content: space-evenly;
}

.nav-left > *, .nav-right > * {
  margin: 10px;
}

.nav-left > .nav-link {
  font-size: 16px;
  padding: 4px 0px 0px 0px;
  text-decoration: none; 
  color: white; 
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: lime; /* Just to visualize the extent */
  z-index: 10;
}